<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" nz>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/prefectos">
        <i nz-icon nzType="audit" nzTheme="outline"></i>
        <span>Prefectos</span>
      </li>
      <li nz-menu-item routerLink="/docentes">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Docentes</span>
      </li>
      <li nz-menu-item routerLink="/departamentos">
        <i nz-icon nzType="apartment" nzTheme="outline"></i>
        <span>Departamentos</span>
      </li>
      <li nz-menu-item routerLink="/turnos">
        <i nz-icon nzType="desktop"></i>
        <span>Turnos</span>
      </li>
      <li nz-menu-item routerLink="/carreras">
        <i nz-icon nzType="desktop"></i>
        <span>Carreras</span>
      </li>
      <li nz-menu-item routerLink="/edificios">
        <i nz-icon nzType="desktop"></i>
        <span>Edificios</span>
      </li>
      <li nz-menu-item routerLink="/grupos">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span>Grupos</span>
      </li>
      <li nz-menu-item routerLink="/inasistencias">
        <i nz-icon nzType="file"></i>
        <span>Inasistencias</span>
      </li>
      <!-- <li nz-submenu nzOpen nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1 class="title">Administración de prefectura</h1>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <!-- <div class="inner-content">Bill is a cat.</div> -->
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<!-- <div *ngFor= "let usuario of usuarios ">
  {{usuario.email}}
</div>

<button nz-button nzType="primary">Primary</button> -->

